@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: crimson;
    margin: auto;
    text-align: center;
}

header{
    text-align: center;
    color: azure;
    font-size: 20px;
    padding: 15px;
}

section{
    background-color: azure;
    border-radius: 15px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.445);
}

input{
    margin: 5px;
}

input[type=number]{
    padding: 5px;
}

input[type=button]{
    background-color: crimson;
    border: none;
    color: whitesmoke;
    padding: 10px;
    width: 85px;
    border-radius: 10%;
    font-weight: bolder;
    transition: .3s;
}

input[type=button]:hover{
    background-color: black;
    color: crimson;
    cursor: pointer;
    transition: .3s;
}

footer{
    margin: auto;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: azure;
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
}

footer a{
    color: crimson;
    font-weight: bolder;
    text-decoration: none;
    font-style: italic;
}

footer a:hover{
    color: azure;
    text-decoration: underline;
}